.contacts {
    
    display: none;
 @media screen and (min-width: 768px) {
    display: block;
}
 @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
     
           
 }
 

&__item:not(:last-child) {
    @media screen and (min-width: 768px) {
            margin-bottom: 10px;
    
        }
    @media screen and (min-width: 1200px) {
            // margin-right: 50px;
            margin-bottom: 0;
        }
   
}

&__link {
    display: flex;
    align-items: center;

    transition: color 250ms var(--timing-function);

    color: var(--color-primary);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

@media screen and (min-width: 1200px) {
            
    padding-top: 32px;
    padding-bottom: 32px;
}
}

&__link:hover,
&__link:focus {
    color: var(--color-accent);
}

&__icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms var(--timing-function);
}
}