.portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
    gap: 30px;


&__card {
    text-decoration: none;
    background-color: var(--color-white);
    display: block;

    transition: box-shadow 250ms var(--timing-function);
}

&__thumb {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;

}

&__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

&__overlay-text {
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    text-align: left;
    color: var(--color-white);
}

&__card:hover &__overlay,
&__card:focus &__overlay {
    transform: translateY(0);
}

&__card:hover,
&__card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

&__project {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

&__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-secondary);
    margin-bottom: 4px;
}

&__description {
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-primary);
}
}