.site-nav {
    display: flex;


&__list {
    display: flex;

}

&__item:not(:last-child) {
    margin-right: 50px;
}

&__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;
    transition: color 250ms var(--timing-function);

    color: var(--color-secondary);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

}

&__link:hover,
&__link:focus {
    color: var(--color-accent);
}

&__link--current {
    color: var(--color-accent);
}

&__link--current::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}
}