:root {
    --color-primary: #757575;
    --color-secondary: #212121;
    --color-accent: #2196F3;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-background: #ffffff;
    --color-background-footer: #2F303A;
    --color-background-work: #F5F5F5;
    --color-background-team: #F5F4FA;
    --border-line-color: #ECECEC;
    --color-clients-link: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}